node_modules
.vercel

# Next
.next/
out/
dist/
.vercel/

# env
.env*
!.env.example

# deps
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
.env*.local
